version: '3.4'

volumes:
  l2_ipc:

services:
  rise-exec:
    image: us-east4-docker.pkg.dev/rise-431614/risechain-public/rise-exec/node:sha-1466bea
    restart: unless-stopped
    ports:
      - "8545:8545"         # rpc
      - "8546:8546"         # ws
      - "9001:9001"         # metrics
    command: >
      node
      --chain=/genesis.json
      --datadir=/db
      --http --http.api=all --http.addr=0.0.0.0 --http.port=8545
      --ws --ws.api=all --ws.addr=0.0.0.0 --ws.port=8546
      --authrpc.jwtsecret=/config/jwt.txt
      --auth-ipc
      --auth-ipc.path /ipc/auth_reth.ipc
      --metrics 0.0.0.0:9001
      --rpc.gascap=64000000
      --txpool.nolocals
      --txpool.max-account-slots=18446744073709551615
      --engine.state-root-fallback
      --engine.disable-prewarming
      --engine.allow-unwind-canonical-header
      --identity=rise-1466bea/reth-v1.9.3-7a72550/linux-aarch64
      ${FULL_NODE_FLAG:-}
    environment:
      - RISE_UPSTREAM_WS_URL=${SEQUENCER_WS_URL}
    volumes:
      - "${LOCAL_DATA_DIR}/l2_data:/db"
      - "l2_ipc:/ipc"
      - "./chain/genesis.json:/genesis.json"
      - "./jwt.txt:/config/jwt.txt"

  rise-node:
    image: us-east4-docker.pkg.dev/rise-431614/risechain-public/rise-op-node:sha-e3b27d7
    restart: unless-stopped
    command: >
      op-node
      --l1=${L1_RPC_URL}
      --l1.beacon.ignore=true
      --l1.epoch-poll-interval=12s
      --l1.http-poll-interval=6s
      --l1.trustrpc
      --l1.rpckind=debug_geth
      --l2=/ipc/auth_reth.ipc
      --l2.jwt-secret=/config/jwt.txt
      --l2.enginekind=reth
      --rollup.config=/rollup.json
      --p2p.static=${SEQUENCER_NODE_MULTIADDR}
      --p2p.listen.ip=0.0.0.0
      --p2p.listen.tcp=9223
      --p2p.listen.udp=9223
      --metrics.enabled --metrics.addr=0.0.0.0 --metrics.port=7300
      --ignore-missing-pectra-blob-schedule
      --altda.enabled=true
      --altda.da-service=false
      --altda.da-server=${DA_SERVER_URL}
    ports:
      - "7545:8545"       # rpc
      - "9223:9223/tcp"   # p2p
      - "9223:9223/udp"   # p2p
      - "7300:7300"       # metrics
    volumes:
      - "${LOCAL_DATA_DIR}/safedb_data:/db"
      - "./jwt.txt:/config/jwt.txt"
      - "./chain/rollup.json:/rollup.json"
      - "l2_ipc:/ipc"
