# don't change these values
SEQUENCER_URL=https://testnet-sequencer.riselabs.xyz
SEQUENCER_NODE_MULTIADDR=/ip4/18.139.121.218/tcp/9223/p2p/16Uiu2HAmHqrXGts25TtKMBRHtvhWZLNypsobKoggpZye1XQtJpbZ
DA_SERVER_URL=https://testnet-da.riselabs.xyz

# your config
L1_RPC_URL=
L1_BEACON_URL=
LOCAL_DATA_DIR=./