# don't change these values
SEQUENCER_URL=https://testnet.riselabs.xyz
SEQUENCER_WS_URL=wss://testnet.riselabs.xyz/ws
SEQUENCER_NODE_MULTIADDR=/ip4/103.66.181.195/tcp/30003/p2p/16Uiu2HAmENsvUkP1zNvo2TniEHAjRc71zMSvwqPpQVLtxqLR9D35,/ip4/85.195.87.177/tcp/30003/p2p/16Uiu2HAmBsavoZqE4g73wxnVYe7bGXdSQ1LFcuAeLaR9Y4MWx3cQ,/ip4/173.201.39.245/tcp/30003/p2p/16Uiu2HAmCTYuXU9n5xRH5b1siXcVywNo8dAneZcjR7v244zv9ez6
DA_SERVER_URL=https://testnet-da.riselabs.xyz

# your config
# FULL_NODE_FLAG=--full # We run an archive node by default. To run a fullnode node, uncomment this line.
L1_RPC_URL=
LOCAL_DATA_DIR=./data
