# don't change these values
SEQUENCER_URL=https://testnet-sequencer.riselabs.xyz
SEQUENCER_NODE_MULTIADDR=/ip4/34.142.182.12/tcp/30003/p2p/16Uiu2HAmGsXjpn4cfbufgeYY9kpLB29t5PGhp7j7zuTeoZ427jWw
DA_SERVER_URL=https://testnet-da.riselabs.xyz

# your config
L1_RPC_URL=
L1_BEACON_URL=
LOCAL_DATA_DIR=./